<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Yemeksepeti</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>		
		<header id="header">
			<div class="innertube">
				<h1>Yemeksepeti</h1>
			</div>
		</header>
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<script type="text/template" id="ourTemplate">
						<div class="innertube">
							<div id="Restoran">
								<h1><%= data.restoran.ResultSet.DisplayName %></h1>
							</div>
							<div id="Menu">
								<% for (var i=0; i < data.menu.ResultSet.length; i++) { %>
									<ul class="Kategori">
										<li><span class="bold bigger"><%= data.menu.ResultSet[i].CategoryDisplayName %></span>
											<ul>
												<% for (var t=0; t < data.menu.ResultSet[i].Products.length; t++) { %>
													<li>
														<button onClick="CartModule.addItem(this)">+</button>
														<span class="bold"><%= data.menu.ResultSet[i].Products[t].DisplayName %></span>
														<span class="right"><%= data.menu.ResultSet[i].Products[t].ListPrice %> TL</span>
														<span class="hidden"><%= data.menu.ResultSet[i].Products[t].ProductId %></span>
														<span><%= data.menu.ResultSet[i].Products[t].Description %></span>
													</li>
												<% } %>
											</ul>
										</li>
									</ul>
								<% } %>
							</div>					
						</div>
					</script>	
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					<div id="CartHolder">
						<h3>Siparişiniz</h3>
							<table id="Cart">
							</table>
						<div id="sum" class="bold bigger">
							<hr>
							<span>Toplam:</span>
							<div class="right">
								<span id="TotalPrice">0</span>
								<span> TL</span>
							</div>
						</div>
						<button>Sipariş Ver</button>			
					</div>

				</div>
			</nav>
		
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>Footer...</p>
			</div>
		</footer>
		<script src="js/template.js"></script>
		<script src="js/cart.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>